no_*
.DS_Store
examples

# bin files
smartCalc/smartCalc

#logs
*.log
history.json
tempGraph*.png

# temp files
smartCalc/tmp/tempGraph*.png
smartCalc/static/tmp/tempGraph*.png
var/history.json
model/var/history.json
tests/cover.html
tests/cover.out