<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Calculator</title>
    <link rel="shortcut icon" href="/static/img/Icon.png" type="image/x-icon" />
    <link rel="stylesheet" href="/static/css/startCalculate_style.css" />
  </head>
  <body>
    <div class="commonBlock">
    <div class="historyWindow" id="historyWindow"></div>
    <div class="calculator" id="calculator">
      <div class="display" id="displ">
        <span class="displaytext" id="dtext">0</span>
        <div class="displaycopy" id="dcopy"></div>
      </div>
      <div class="displayEquation" id="dEqual">
        <span class="displayEqualText" id="dEText">0</span>
        <div class="displaycopy" id="dcopy"></div>
      </div>
    <div id="graphentryes">
      <button class="notapbutton">X =</button>
      <input type="text" class="notapbutton btn-lightgrey inputborder" placeholder="xfrom" inputmode="numeric" id="xfrom"></input>
      <input type="text" class="notapbutton btn-lightgrey inputborder" placeholder="xto" inputmode="numeric" id="xto"></input>
      <button class="notapbutton">Y =</button>
      <input type="text" class="notapbutton btn-lightgrey inputborder" placeholder="yfrom" inputmode="numeric" id="yfrom"></input>
      <input type="text" class="notapbutton btn-lightgrey inputborder" placeholder="yto" inputmode="numeric" id="yto"></input>
    </div>
    <div id="equalentryes">
      <button class="notapbutton">X =</button>
      <input type="text" class="notapbutton btn-lightgrey inputx" placeholder="enter X here" inputmode="numeric" id="x"></input>
    </div>
      <div class="buttons">
        <select name="mode" class="notapbutton up select">
          <option value="calculate" selected="selected">calculate</option>
          <option value="equal">equal</option>
          <option value="graph">graph</option>
        </select>
        <button class="button btn-orange">C</button>
        <button class="button btn-orange">&lt;=</button>
        <!-- <button class="button">x</button> -->
        <button class="bigbutton">x</button>
        <!-- <button class="button">e</button> -->
        <button class="button">cos</button>
        <button class="button">acos</button>
        <button class="button">(</button>
        <button class="button">)</button>
        <!-- <button class="button">&#37;</button> -->
        <button class="button">e</button>
        <button class="button">/</button>
        <button class="button">sin</button>
        <button class="button ">asin</button>
        <button class="button">7</button>
        <button class="button">8</button>
        <button class="button">9</button>
        <button class="button">*</button>
        <button class="button ">tan</button>
        <button class="button ">atan</button>
        <button class="button">4</button>
        <button class="button">5</button>
        <button class="button">6</button>
        <button class="button">-</button>
        <button class="button ">ln</button>
        <button class="button ">log</button>
        <button class="button">1</button>
        <button class="button">2</button>
        <button class="button">3</button>
        <button class="button">+</button>
        <button class="button">sqrt</button>
        <button class="button">mod</button>
        <button class="button">0</button>
        <button class="button">.</button>
        <button class="button">^</button>
        <button class="button btn-orange">=</button>
        <button class="notapbutton down" id="helpButton">
          <a href="#b" id="button">Помощь</a>
          <a href="#x" class="overlay" id="b"></a>
          <div class="window">
                <h3>Информация по программе "CleverCalc"</h3>
                <p>"Clevercalc" это расширяемый калькулятор на архитектуре MVP написанный на Golang и фреймворке BeeGo.</p>
                <br>
                <h3>Порядок работы:</h3>
                <strong>в режиме "CALC":</strong>
                <ol>
                  <li>Наберите с помощью конопок необходимое выражение</li>
                  <li>Нажмите кнопку "="</li>
                  <li>Программа отобразит результат вычисления или ошибку, если выражение неверно.</li>
                </ol>
                <strong>в режиме "EQUAL":</strong>
                <ol>
                  <li>Наберите с помощью конопок и/или клавиатуры необходимое выражение</li>
                  <li>В дополнительном поле ввода введите значение X для которого будет  расчитываться уравнение.</li>
                  <li>Нажмите кнопку "="</li>
                  <li>Программа отобразит результат вычисления или ошибку, если выражение или X неверны.</li>
                </ol>
                <strong>в режиме "GRAPH":</strong>
                <ol>
                  <li>Наберите с помощью конопок и/или клавиатуры необходимое выражение</li>
                  <li>В дополнительных полях ввода введите начальные и конечные значения X и Y для которого будет расчитываться график.</li>
                  <li>Нажмите кнопку "="</li>
                  <li>Программа отобразит результат график в отдельном окне или выдаст ошибку, если введенные данные неверны.</li>
                  </ol>
                <strong>Требования к выражению и данным:</strong>
                <ol>
                  <li>Все скобки должны быть корректно открыты и закрыты</li>
                  <li>Числа можно вводить как целые, так и с плавающей запятой</li>
                  <li>Не допускается два знака операции подряд, исключение скобки.</li>
                  <li>длина выражения должна быть менее 255 символов</li>
                  <li>Область определения и область значения функции (X и Y) для графика от -1 000 000 до 1 000 000</li>
                </ol>
                <strong>Окно Истории:</strong>
                <ul>
                  <li>Для отображения/скрытия окна с историей нажмите кнопку "history" <br>
                  внизу окна калькулятора или Нажав "H" на клавиатуре.</li>
                  <li>В появившемся окне отобразится история введеных данных и результатов с <br>
                  указанием режима работы</li>
                  <li>Вы можете повторно заполнить поля данными из истории, нажав по соответсвующей
                  строке в окне истории. Режим выберется автоматически в соответствии с
                  выбранной строчкой.</li>
                  <li>Вы можете очистить историю, нажав в окне истории кнопку "Clear History"</li>
                </ul>
                <strong>Окно Графика:</strong>
                <ul>
                  <li>В окне графика отображается разультат просчета, если нет ошибок во введенных данных.</li>
                  <li>Для отображения/скрытия окна с графиком нажмите кнопку "graph"
                      внизу окна калькулятора.</li>
                  <li>Окно графика отображает адаптивную сетку в зависимости от указанной области
                      определения и области значения.</li>
                </ul>
                <strong>Основные элементы окна графика:</strong>
                <ol>
                  <li>Сетка</li>
                  <li>График</li>
                  <li>Уравнение, область определения и область полученных значений вверху слева</li>
                  <li>Масштаб графика по осям X и Y внизу справа</li>
                  <li>Лого программы вверху справа</li>
                </ol>

          <a class="close" title="Закрыть" href="#close"></a>
    </div>
        </button>
        <button class="notapbutton down history" id="historyButton">history</button>
        <button class="notapbutton down graph" id="graphButton">graph</button>
      </div>
    </div>
    <div class="graphWindow" id="graphWindow">
      <span id="graphSpan"><img src="/static/img/background.png" class="graphImage" id="graphImage"></span>
      <button class="downGraph" id="downGraph">save graph</button>
    </div>
    
    </div>
  
    <script src="/static/js/main.js"></script>
    <script src="/static/js/history.js"></script>
  </body>
</html>
